# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
*.egg-info
htmlcov/
.coverage
coverage.xml

# Node / Next.js
node_modules/
.next/
next-env.d.ts
npm-debug.log*

# Env files
.env
.env.*
!.env.example

# OS / editors
.DS_Store
.vscode/
.idea/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
